{% extends "photos/base_photos.html" %}

{% block title %}
{{ object.name_with_owner|title }} Album
- PhotAsm
{% endblock %}

{% block content %}
{% if messages %}
<ul>
	{% for message in messages %}
	<li>{{ message }}</li>
	{% endfor %}
</ul>
{% endif %}

<section>
	<h1>{{ object.name_with_owner|title }} Album</h1>
	{% url photasm.photos.views.photo_upload object.id as photo_upload %}
	{% ifequal user.id object.owner.id %}
	<a href="{{ photo_upload }}">Upload a photograph.</a>
	{% endifequal %}
	{% if object.photo_set.count %}
	<ul>
		{% for photo in object.photo_set.all %}
		<li>
			{% url photo_in_album photo.id as photo_detail %}
			<a href="{{ photo_detail }}"><img src="{{ photo.thumbnail.url }}" title="{{ photo }}" /></a>
		</li>
		{% endfor %}
	</ul>
	{% else %}
	<p>The album does not contain any photographs.
	<a href="{{ photo_upload }}">Upload a photograph now.</a></p>
	{% endif %}
</section>
{% endblock %}
