{% extends "photos/base_photos.html" %}

{% block title %}
Home
- PhotAsm
{% endblock %}

{% block content %}
<section>
	<h1>Home</h1>
	<section>
		<h1>Your Albums</h1>
		{% if album_list %}
		<a href="{% url create_album %}">Create an album.</a>
		<ul>
			{% for album in album_list %}
			<li>
				<a href="{% url album_detail album.id %}">{{ album }}</a>
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<p>No albums have yet been created.
		<a href="{% url create_album %}">Create an album now.</a></p>
		{% endif %}
	</section>
</section>
{% endblock %}
